:root {
  font-size: 18px;
}

*, 
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rye', cursive;
  
}

html,
body {
  min-height: 100vh;
  color-scheme: dark light;
  letter-spacing: 2px;
  
}

body {
  background-image: radial-gradient(circle at center, hsl(82, 17%, 25%), hsl(91, 27%, 18%),  hsl(90, 37%, 17%), hsl(90, 40%, 22%), hsl(90, 45%, 21%), hsl(90, 31%, 21%), hsl(90, 30%, 17%), hsl(90, 35%, 13%));
}

img {
  max-width: 100%;
}

input,
button {
  border: none;
}

